/* Styles for the general layout */

body {
    background-color: white;
    padding: 0.5ex 0.5em;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    text-align: center;
    width : 1200px;
    height : 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

#menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline;
}

#menu li {
    background-color: #ccc;
    width : 1140px;
    padding: 2em;
    text-align: center;
    font-weight: bold;
    border-right: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#menu li + li {
    margin-top: 1ex;
    margin-bottom: 1ex;
}

#menu li.selected {
    background-color: white;
}

#contents {
    border: 1px solid #ccc;
    padding: 2em;
    width : 1140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    min-height: 10ex;
}


/* Styles for objects */

.model {
    display: none;
}

#add .bookmark,
#add .tag {
    /* display: none; */
    margin-top: 2ex;
}

#add .new.selected{
    display: none;
}

#new {
    list-style-type: none;
}

#new li {
    margin-top: 1em;
    margin-bottom: 1em;
}

.item {
  border: 1px solid #ccc;
  border-radius: 0.3em;
  margin: 0.5ex 0;
  padding: 0.5ex 0.5em;
  cursor: pointer;
}

.item.selected {
  font-size: 110%;
  border-color: #c90;
}

.item h2 {
  display: inline-block;
  width: 50%;
  font-size: 100%;
  margin: 0;
}

.item .description {
  font-size: 90%;
  font-style: italic;
}

.item .tags {
  list-style-type: none;
  padding: 0;
}

.item .tags li {
  display: inline-block;
  background-color: #ccc;
  border-radius: 0.3em;
  padding: 0.2ex 0.2em;
  font-size: 90%;
  margin: 0 1em 0.3ex 0;
}
